{# <!-- this is the club overveiw page --> #}
{# <!--all children must extend from parent--> #}
<!DOCTYPE html>
{% extends 'base.html' %}
<html lang="en">
<head>
    {# <!--defines our child's block title-->  #}
    {% block title %}<title>Make - Clubs</title>{% endblock %}
</head>
<content>
{# <!--defines our childs block content--> #}
{% block content %}
    <container>
        {# <!-- this is where the tabs title will be--> #}
        <h1>hello from tab title</h1>
        {# <!--this is where the list of clubs will be--> #}
        <ul>
            {# <!-- be sure to look at the real club list as to not forget anyone --> #}
            <li class="card">
                <h2 class="cart-title">Art and Design Club</h2>
                <h4 class="card-text">Gabriel Lee</h4>
                <p class="card-text">
                    To provide a way for artists and designers to acquire work through the Make School community
                </p>
            </li>
            <li class="card">
                <h2 class="cart-title">Chess Club</h2>
                <h4 class="card-text">Jon Infante</h4>
                <p class="card-text">
                    To play Chess
                </p>
            </li>
            <li class="card">
                <h2 class="cart-title">Cyber Security Club</h2>
                <h4 class="card-text">Nyein Chan Aung, Gary Frederick, Ben Lafferty</h4>
                <p class="card-text">
                    Cybersecurity problems and general training
                </p>
            </li>
            <li class="card">
                <h2 class="cart-title">Dungeons & Dragons Club</h2>
                <h4 class="card-text">Nolan Kovacik</h4>
                <p class="card-text">
                    To roleplay cool characters, team up with your peers, be totally inclusive, and have fun
                </p>
            </li>
            <li class="card">
                <h2 class="cart-title">Gaming Club</h2>
                <h4 class="card-text">Anjelica Ambrosio, Joanelly Cruz</h4>
                <p class="card-text">
                    To discuss gaming topics and gaming development.
                </p>
            </li>
            <li class="card">
                <h2 class="cart-title">Hardware Club</h2>
                <h4 class="card-text">Gabriel Lee</h4>
                <p class="card-text">
                    To teach students about various types of hardware and tools, and how to integrate software with it
                </p>
            </li>
            <li class="card">
                <h2 class="cart-title">Historical Society</h2>
                <h4 class="card-text">William Chadwick, David Evans</h4>
                <p class="card-text">
                    To discuss and inform about all parts of history
                </p>
            </li>
            <li class="card">
                <h2 class="cart-title">Magic the Gathering Club</h2>
                <h4 class="card-text">Gabriel Lee</h4>
                <p class="card-text">
                    To provide a community for Magic the Gathering players
                </p>
            </li>
            <li class="card">
                <h2 class="cart-title">Music Club <span class="badge badge-success">New Event!</span></h2>
                <h4 class="card-text">Anthony S. Protho</h4>
                <p class="card-text">
                    To give a place for students to learn music, jam out with friends, and/or perform their creations
                </p>
            </li>
            <li class="card">
                <h2 class="cart-title">oSTEM Club</h2>
                <h4 class="card-text">Lucia Reynoso, Jessica Trinh</h4>
                <p class="card-text">
                    To foster a strong professional and social network and to promote LGBTQ+ awareness within the academic and professional communities
                </p>
            </li>
            <li class="card">
                <h2 class="cart-title">Startup Club</h2>
                <h4 class="card-text">Sandy Camilo, Ariana Evans, Jarquuevios Nelson</h4>
                <p class="card-text">
                    To create a community of mission driven founders
                </p>
            </li>
            <li class="card">
                <h2 class="cart-title">Table Top Games Club</h2>
                <h4 class="card-text">George Aoyagi</h4>
                <p class="card-text">
                    To give the students of Make School a fun place to blow off steam or engage in light competitive activity
                </p>
            </li>
            <li class="card">
                <h2 class="cart-title">The Podcast Club</h2>
                <h4 class="card-text">Zain Raza</h4>
                <p class="card-text">
                    To turn Make School into a forum for discussing
                </p>
            </li>
            <li class="card">
                <h2 class="cart-title">Volunteer CLub</h2>
                <h4 class="card-text">Megan O'Bryan</h4>
                <p class="card-text">
                    To connect Make School students with active causes that benefit the community. 
                </p>
            </li>
            <li class="card">
                <h2 class="cart-title">Writing Club</h2>
                <h4 class="card-text">Dan Morse</h4>
                <p class="card-text">
                    To break through fear of blank pages and make magic with our pens
                </p>
            </li>
            <li class="card">
                <h2 class="cart-title">Yoga Club</h2>
                <h4 class="card-text">Elaine Music</h4>
                <p class="card-text">
                    To improve health and wellbeing through yoga
                </p>
            </li>
        </ul>
    </container>
{% endblock %}
</content>
</html>