<!-- this is the club overveiw page -->
<!DOCTYPE html>
{% extends 'base.html' %}
<html lang="en">
<head>
    {% block head %}
    {% endblock %}
    {% block title %}<title>Make - Clubs</title>{% endblock %}
</head>
{% block body %}
{% endblock %}
<content>
{% block content %}
    <container>
        <!-- this is where the tabs title will be-->
        <h1>hello from tab title</h1>
        <!--this is where the list of clubs will be-->
        <ul>
            <!-- be sure to look at the real club list as to not forget anyone -->
            <li>Hello from club name</li>
            <li>Hello from club logo</li>
            <li>Hello from club name</li>
            <li>Hello from club logo</li>
            <li>Hello from club name</li>
            <li>Hello from club logo</li>
            <li>Hello from club name</li>
            <li>Hello from club logo</li>
        </ul>
    </container>
{% endblock %}
</content>
{% block footer %}
{% endblock %}
</html>
