<!-- This is the music club page -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> Make - Music Club</title>
    <!-- Make Schools navbar -->
    <nav>
        <p>Hello from schools navbar!</p>
    </nav>
</head>
<body>
    <!-- our banner and link to quick join -->
    <h1>
        Hello from Join the band jumbotron!
    </h1>
    <!--our navbar-->
    <nav>
        <p>Hello from our navbar!</p>
    </nav>
    <!-- About/ History of our club -->
    <h2>Hello from About!</h2>
    <p>this is where information about us will go!</p>
    <hr>
    <!-- Upcomming Events -->
    <h2>Hello from Events!</h2>
    <p>this is where info about events will go!</p>
    <p>this is where a calander will go showing upcomming events!</p>
    <hr>
    <!-- Support -->
    <h2>Hello from Support!</h2>
    <p>this is where information will go about why we need support!</p>
    <p><a href>Click here to donate!</a></p>
</body>
<footer>
    <!-- Make Schools footer -->
    <p>hello from schools footer!</p>
</footer>
</html>